**assets/
**egg-info/
**__pycache__/
**wandb**/
**dataset**
**artifacts**
.vscode/
keypoints/validation_data

# dependency repos
keypoint-detection/
BlenderProc/
airo-blender-toolkit/
robot/evaluation
