**assets/
**egg-info/
**__pycache__/
**wandb**/
**dataset**
**artifacts**
.vscode/
keypoints/validation_data

# dependency repos
keypoint-detection/
data-generation/blender-3.0.1-linux-x64/**
data-generation/blenderproc/
data-generation/airo-blender-toolkit/
robot/evaluation
keypoints/notebooks/images/
